*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: #000000;
    color:white;
}

/* header included grid template for profilepic description and storyline */
header{
    height:50vw;
    display: grid;
    grid-template: 1fr 1fr / 1fr 2fr;
    grid-template-areas: 
    "pic sec"
    "story story";
    gap:10px;
    padding:10px;
}

/* profilepic-container */
header>div{
    grid-area: pic;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* round profilepic-container for gradient circle */
header>div>div{
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top right, yellow, rgb(255, 0, 43), rgb(179, 0, 179));
    width:20vw;
    aspect-ratio: 1/1;
    min-width:150px;
    border-radius: 50%;
}

/* profilepic */
header>div>div>img{
    width:92%;
    height:92%;
    border-radius: 50%;
    border:5px solid black;
}

/* description-container */
header>section:first-of-type{
    grid-area: sec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* first line with username and buttons */
header>section:first-of-type>article:first-of-type{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* username */
h1{
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0 40px 5px 0;
}

/* icon within username */
h1>i{
    color:rgb(0, 140, 255);
    font-size: 1.2rem;
}

/* all buttons */
header>section:first-of-type>article>div>button{
    font-size: 0.8rem;
    height:30px;
    border: none;
    color:white;
    font-weight: 700;
    border-radius:5px;
    margin-right: 5px;
}

/* first button */
header>section:first-of-type>article>div>button:first-of-type{
    background-color:rgb(0, 140, 255);
    width:70px;
}

/* second button */
header>section:first-of-type>article>div>button:nth-of-type(2){
    background-color:grey;
    width:100px;
}

/* third button */
header>section:first-of-type>article>div>button:last-of-type{
    background-color:grey;
    width:30px;
}

/* storyline */
header>section:last-of-type{
    grid-area: story;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

header>section:last-of-type>article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
}

header>section:last-of-type>article>img{
    border-radius: 50%;
    width:80%;
}

header>section:last-of-type>article>h2{
}