*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: #000000;
    color:white;
    overflow-x: hidden;
}

header, main{
    width:75vw;
    margin-left:20vw;
    margin-right:5vw;
}

/* header included grid template for profilepic description and storyline */
header{
    display: grid;
    grid-template: 2fr 1fr / 1fr 2fr;
    grid-template-areas: 
    "pic sec"
    "story story";
    gap:10px;
    padding:10px;
}

/* profilepic-container */
header>div{
    grid-area: pic;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* round profilepic-container for gradient circle */
header>div>div{
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top right, yellow, rgb(255, 0, 43), rgb(179, 0, 179));
    width:20vw;
    aspect-ratio: 1/1;
    min-width:150px;
    border-radius: 50%;
}

/* profilepic */
header>div>div>img{
    width:92%;
    height:92%;
    border-radius: 50%;
    border:5px solid black;
}

header>div>div:hover{
    filter: brightness(0.8);
    cursor: pointer;
    transform: scale(1.2);
    transition: 2s;
}

/* description-container */
header>section:first-of-type{
    grid-area: sec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding:10px;
    gap:10px;
}

/* first line and second line get flex layout */
header>section:first-of-type>article:nth-of-type(n+1):nth-of-type(-n+2){
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* username */
h1{
    font-size: 1.4rem;
    font-weight: 400;
    margin-right: 40px;
}

/* icon within username */
h1>i{
    color:rgb(0, 140, 255);
    font-size: 1.2rem;
}

/* all buttons */
header>section:first-of-type>article>div>button{
    font-size: 0.8rem;
    height:30px;
    border: none;
    color:white;
    font-weight: 700;
    border-radius:5px;
    margin-right: 5px;
}

/* first button */
header>section:first-of-type>article>div>button:first-of-type{
    background-color:rgb(0, 140, 255);
    width:70px;
}

/* second button */
header>section:first-of-type>article>div>button:nth-of-type(2){
    background-color:grey;
    width:100px;
}

/* third button */
header>section:first-of-type>article>div>button:last-of-type{
    background-color:grey;
    width:30px;
}

header>section:first-of-type>article>div>button:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 15px blue, inset 0 0 15px blue;
    cursor: pointer;
}

/* description second line paragraph */
header>section:first-of-type>article:nth-of-type(2)>p{
    margin-right: 10vw;
    font-size: 1.2rem;
}

span{
    font-weight: 900;
}

/* description last line */
header>section:first-of-type>article:last-of-type{
    display: flex;
    flex-direction: column;
    gap:5px;
    margin-top: 20px;
    margin-right:5px;
}

h2{
    font-size: 1.1rem;
}

header>section:first-of-type>article:last-of-type>a{
    color:grey;
    text-decoration: none;
    margin-top: 10px;
}

header>section:first-of-type>article:last-of-type>a:hover{
    color:pink;
    text-shadow: 0 0 5px pink;
}

/* storyline */
header>section:last-of-type{
    grid-area: story;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom:20px;
    margin-right: 20px;
}

header>section:last-of-type>article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    font-size: 1.2rem;
}

header>section:last-of-type>article>img{
    border-radius: 50%;
    width:70%;
    transition: 1s;
}

header>section:last-of-type>article>img:hover{
    filter: brightness(0.8);
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 0 10px pink;
    transition: 1s;
}


/* HEADER FINISHED !!! */


/* nav list, row, icon and text */
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap:10px;
    padding: 20px 0;
    /* margin: 0 10vw; */
    border-top:1px solid grey;
    list-style: none;
}

li>a{
    color:grey;
}

li>a>p{
    display:inline-block;
}

li>a:hover{
    color:pink;
    text-shadow: 0 0 5px pink;
}

a>i{
    padding-right:1rem;
}

/* layout for pics */
.grid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:3px;
    /* padding: 0 10vw; */
}

/* pic-containers, pics as bg */
.grid>div{
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: center;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

/* icons in pics */
.grid>div>i{
    display:none;
}

/* icons in pics, there by hover */
.grid>div:hover>i{
    display:block;
    font-size: 1.5rem;
    color:white;
    padding: 10px;
}

/* bg image gets darker by hover */
.grid>div:hover{
    filter:brightness(0.8);
    cursor: pointer;
}

/* icons itself get colors by hover */
.grid>div>i:first-of-type:hover{
    color:red;
    text-shadow: 0 0 10px red;
}

.grid>div>i:last-of-type:hover{
    color:blue;
    text-shadow: 0 0 10px blue;
}

/* bg ppics of containers */
.grid>div:first-of-type{
    background-image: url(./images/Pic_1.jpg);
}

.grid>div:nth-of-type(2){
    background-image: url(./images/Pic_2.jpg);
}

.grid>div:nth-of-type(3){
    background-image: url(./images/Pic_3.jpg);
}

.grid>div:nth-of-type(4){
    background-image: url(./images/Pic_4.jpg);
}

.grid>div:nth-of-type(5){
    background-image: url(./images/Pic_5.jpg);
}

.grid>div:nth-of-type(6){
    background-image: url(./images/Pic_6.jpg);
}

.grid>div:nth-of-type(7){
    background-image: url(./images/Pic_7.jpg);
}

.grid>div:nth-of-type(8){
    background-image: url(./images/Pic_8.jpg);
}

.grid>div:nth-of-type(9){
    background-image: url(./images/Pic_9.jpg);
}

.grid>div:nth-of-type(10){
    background-image: url(./images/Pic_10.jpg);
}

.grid>div:nth-of-type(11){
    background-image: url(./images/Pic_11.jpg);
}

.grid>div:nth-of-type(12){
    background-image: url(./images/Pic_12.jpg);
}

.grid>div:nth-of-type(13){
    background-image: url(./images/Pic_13.jpg);
}

/* footer left */
footer{
    position: fixed;
    left:0;
    top: 0;
    bottom: 0;
    width:15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-right: 1px solid grey;
}

footer>div>div, footer>div:first-of-type{
    display: flex;
    flex-direction: row;
}

footer h3{
    font-family: 'Pacifico', cursive;
    font-size: 1.6rem;
    margin-left: 1.5rem;
}
footer i, footer p{
    font-size: 1.6rem;
    align-content: center;
    padding-left: 1.5rem;
}

footer>div:first-of-type>i{
    display: none;
}

footer>div>div i, footer>div>div p{
    padding-top:1.7rem;
}

footer>div:first-of-type:hover,
footer>div div:hover{
    color:pink;
    text-shadow: 0 0 5px pink;
    cursor: pointer;
}

@media (max-width: 1400px){

    footer{
        width:70px;
        align-items: flex-start;
    }
    footer p, footer h3{
        display:none;
        padding: 0;
        margin: 0;
    }

    footer> div>i:first-of-type{
        display:block;
    }
}

/* MEDIA QUERY FOR DISPLAY UNDER 600px */
@media (max-width: 600px){
    header>div{
        align-self:flex-start;
        margin-top: 10px;
    }

    header>section:last-of-type{
        margin-bottom: 0;
    }

    li>a>p{
        display: none;
    }

    li>a>i{
        font-size: 1.5rem;
    }

    header, main{
        width:100vw;
        margin-left: 0;
    }

    .grid{
        padding: 0;
        padding-bottom: calc(5vh + 30px);
    }

    ul{
        margin: 0;
    }

    footer{
        position: fixed;
        top: unset;
        height:5vh;
        width:100vw;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 30px;
        border:none;
        background-color: black;
        border-top: 1px solid grey;
    }

    footer *{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    footer>div:first-of-type,
    footer>div:nth-of-type(2)>div:nth-of-type(2),
    footer>div:nth-of-type(2)>div:nth-of-type(6),
    footer>div:last-of-type{
        display:none;
    }

    footer>div:nth-of-type(2)>div:nth-of-type(5){
        order: 2;
    }

    footer>div:nth-of-type(2){
        gap:10vw;
    }
}